lerna-debug.log

*.crt
*.key

**/node_modules
**/debug
**/dist
**/storybook-dist

**/.DS_Store
**/.env
**/.log
**/.config

**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.jest-*
**/jest/coverage
**/test-reports

.vscode/notes.txt

tidy-components/**

**/.coverage
**/coverage

**/cypress/screenshots/**
**/cypress/videos/**
**/cypress/**/__diff_output__/**

**/.eslintcache
.lighthouseci
.idea
**/*.iml

.gitmodules

**/.env.*
!**/.env.example
!**/.env.*.example
!**/cypress/.env.*

!**/**/package-lock.json

**/keys/**

.vscode/settings.json
.vscode/extensions.json
